
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="MediaCenter, Template, eCommerce">
    <meta name="robots" content="all">
    <title>@ViewBag.Title</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">

    <!-- Customizable CSS -->
    <link rel="stylesheet" href="~/Content/css/main.css">
    <link rel="stylesheet" href="~/Content/css/blue.css">
    <link rel="stylesheet" href="~/Content/css/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/css/owl.transitions.css">
    <link rel="stylesheet" href="~/Content/css/animate.min.css">
    <link rel="stylesheet" href="~/Content/css/rateit.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap-select.min.css">

    <!-- Icons/Glyphs -->
    <link rel="stylesheet" href="~/Content/css/font-awesome.css">

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,600italic,700,700italic,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>
<body class="cnt-home">
    <!-- ============================================== HEADER ============================================== -->
    <header class="header-style-1">

        <!-- ============================================== TOP MENU ============================================== -->
        @Html.Action("LoginLogout", "User")
        <!-- /.header-top -->
        <!-- ============================================== TOP MENU : END ============================================== -->
        <div class="main-header">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-3 logo-holder">
                        <!-- ============================================================= LOGO ============================================================= -->
                        <div class="logo"> <a href="@Url.Action("Index", "Home")"> <img src="~/Content/images/logo.png" alt="logo" width="220" height="60"> </a> </div>
                        <!-- /.logo -->
                        <!-- ============================================================= LOGO : END ============================================================= -->
                    </div>
                    <!-- /.logo-holder -->

                    <div class="col-xs-12 col-sm-12 col-md-7 top-search-holder">
                        <!-- /.contact-row -->
                        <!-- ============================================================= SEARCH AREA ============================================================= -->
                        <div class="search-area" style="width:600px">
                            @using (Html.BeginForm("Search", "Home"))
                            {
                                <div class="control-group">
                                    <input class="search-field" name="searchString" placeholder="Bạn muốn tìm gì?" style="width:543px">
                                    <button type="submit" class="search-button"></button>
                                </div>
                            }
                        </div>
                        <!-- /.search-area -->
                        <!-- ============================================================= SEARCH AREA : END ============================================================= -->
                    </div>
                    <!-- /.top-search-holder -->

                    <div class="col-xs-12 col-sm-12 col-md-2 animate-dropdown top-cart-row">
                        <!-- ============================================================= SHOPPING CART DROPDOWN ============================================================= -->

                        @Html.Action("CartPartial", "Cart")
                        <!-- /.dropdown-cart -->
                        <!-- ============================================================= SHOPPING CART DROPDOWN : END============================================================= -->
                    </div>
                    <!-- /.top-cart-row -->
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->

        </div>
        <!-- /.main-header -->
        <!-- ============================================== MENU ============================================== -->
        <div class="header-nav animate-dropdown">
            <div class="container">
                <div class="yamm navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <button data-target="#mc-horizontal-menu-collapse" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                            <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="nav-bg-class">
                        <div class="navbar-collapse collapse" id="mc-horizontal-menu-collapse">
                            <div class="nav-outer">
                                <ul class="nav navbar-nav">
                                    <li class="active dropdown yamm-fw"> <a href="@Url.Action("Index", "Home")" data-hover="dropdown" class="dropdown-toggle">Trang chủ</a> </li>
                                    <li class="dropdown yamm mega-menu">
                                        <a href="home.html" data-hover="dropdown" class="dropdown-toggle" data-toggle="dropdown">Sản phẩm</a>
                                        <ul class="dropdown-menu container">
                                            <li>
                                                <div class="yamm-content ">
                                                    <div class="row">
                                                        @Html.Action("ProductPartial", "Home")
                                                        <!-- /.col -->
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    @*<li class="dropdown"> <a href="contact.html">Tin tức</a> </li>
                                    <li class="dropdown"> <a href="contact.html">Giới thiệu</a> </li>*@
                                    <li class="dropdown"> <a href="@Url.Action("Index", "FeedBack")">Liên hệ</a> </li>
                                </ul>
                                <!-- /.navbar-nav -->
                                <div class="clearfix"></div>
                            </div>
                            <!-- /.nav-outer -->
                        </div>
                        <!-- /.navbar-collapse -->

                    </div>
                    <!-- /.nav-bg-class -->
                </div>
                <!-- /.navbar-default -->
            </div>
            <!-- /.container-class -->

        </div>
        <!-- /.header-nav -->
        <!-- ============================================== MENU : END ============================================== -->

    </header>

    <!-- ============================================== HEADER : END ============================================== -->
    <div class="breadcrumb">
        <div class="container">
            <div class="breadcrumb-inner">
                <ul class="list-inline list-unstyled">
                    <li><a href="#">Home</a></li>
                    <li class='active'>Shopping Cart</li>
                </ul>
            </div><!-- /.breadcrumb-inner -->
        </div><!-- /.container -->
    </div><!-- /.breadcrumb -->

    <div class="body-content outer-top-xs">
        <div class="container">
            <div class="row ">
                <div class="shopping-cart">
                    <div class="shopping-cart-table ">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="cart-romove item">Xóa</th>
                                        <th class="cart-romove item">Tên sản phẩm</th>
                                        <th class="cart-description item">Ảnh Sản phẩm</th>
                                        <th class="cart-product-name item">Số lượng</th>
                                        <th class="cart-qty item">Đơn giá</th>
                                        <th class="cart-sub-total item">Thành tiền</th>
                                        <th class="cart-total last-item">Cập nhật</th>
                                    </tr>
                                </thead><!-- /thead -->
                                @foreach (var item in Model)
                                {
                                    <tbody>
                                        <tr>
                                            <td class="romove-item"><a href="@Url.Action("DeleteProduct", new { id = item.idProduct })" title="cancel" class="icon"><i class="fa fa-trash-o"></i></a></td>
                                            <td class="cart-product-name-info">
                                                <h4 class='cart-product-description'><a href="detail.html">@item.name</a></h4>
                                            </td>
                                            <td class="cart-image">
                                                <a class="entry-thumbnail" href="@Url.Action("Detail","Product", new { id = item.idProduct })">
                                                    <img src="~/Content/images/products/@item.image" alt="">
                                                </a>
                                            </td>
                                            @using (Html.BeginForm("Update", "Cart", new { id = item.idProduct }))
                                            {
                                                <td class="cart-product-quantity">
                                                    <input type="number" min="1" name="txtQuantity" value="@item.quantity" />
                                                </td>
                                                <td class="cart-product-sub-total"><span class="cart-sub-total-price">@Html.FormatValue(item.price, "{0:#,##0}") VNĐ</span></td>
                                                <td class="cart-product-grand-total"><span class="cart-grand-total-price">@Html.FormatValue(item.Total, "{0:#,##0}") VNĐ</span></td>
                                                <td class="romove-item">
                                                    <input type="submit" value="Cập nhật" class="btn btn-upper btn-primary pull-right outer-right-xs">
                                                </td>
                                            }

                                        </tr>
                                    </tbody><!-- /tbody -->

                                }
                            </table><!-- /table -->
                        </div>
                    </div><!-- /.shopping-cart-table -->
                    <div class="col-md-4 col-sm-12 cart-shopping-total" style="float: right">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        <div class="cart-grand-total">
                                            Tổng tiền<span class="inner-left-md">@Html.FormatValue(ViewBag.TotalPrice, "{0:#,##0}") VNĐ</span>
                                        </div>
                                    </th>
                                </tr>
                            </thead><!-- /thead -->
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="cart-checkout-btn pull-right">
                                            <a href="@Url.Action("CheckOut")" class="btn btn-primary checkout-btn">Đặt hàng</a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody><!-- /tbody -->
                        </table><!-- /table -->
                    </div><!-- /.cart-shopping-total -->
                </div><!-- /.shopping-cart -->
            </div> <!-- /.row -->
            <!-- ============================================== BRANDS CAROUSEL ============================================== -->
            <!-- ============================================== BRANDS CAROUSEL : END ============================================== -->
        </div><!-- /.container -->
    </div><!-- /.body-content -->
    <!-- /#top-banner-and-menu -->
    <!-- ============================================================= FOOTER ============================================================= -->
    @Html.Action("FooterPartial", "Home")
    <!-- ============================================================= FOOTER : END============================================================= -->
    <!-- For demo purposes – can be removed on production -->
    <!-- For demo purposes – can be removed on production : End -->
    <!-- JavaScripts placed at the end of the document so the pages load faster -->
    <script src="~/Content/js/jquery-1.11.1.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/bootstrap-hover-dropdown.min.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/echo.min.js"></script>
    <script src="~/Content/js/jquery.easing-1.3.min.js"></script>
    <script src="~/Content/js/bootstrap-slider.min.js"></script>
    <script src="~/Content/js/jquery.rateit.min.js"></script>
    <script type="text/javascript" src="~/Content/js/lightbox.min.js"></script>
    <script src="~/Content/js/bootstrap-select.min.js"></script>
    <script src="~/Content/js/wow.min.js"></script>
    <script src="~/Content/js/scripts.js"></script>
</body>
</html>
