@model IEnumerable<GearH.Models.Account>

@{
    ViewBag.Title = "Quản lý tài khoản";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>QUẢN LÝ TÀI KHOẢN</h2>

<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%x" cellspacing="0">
                <thead style="text-align:center">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.name)</th>
                        <th>@Html.DisplayNameFor(model => model.email)</th>
                        <th>@Html.DisplayNameFor(model => model.phone)</th>
                        <th>@Html.DisplayNameFor(model => model.address)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody style="text-align:center">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.phone)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.address)
                            </td>
                            <td>
                                <a href="@Url.Action("Detail", new { id = item.idAccount })" class="btn btn-primary" role="button">Chi tiết</a>
                                <a href="@Url.Action("Delete", new { id = item.idAccount })" class="btn btn-danger" role="button">Xóa</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
